/*These are the splashes of color that should appear the most in your UI,
and are the ones that determine the overall "look" of the site. Use these
for things like primary actions, links, navigation items, icons, accent
borders, or text you want to emphasize.*/
/*Cyan*/
                             /*These are the colors you will use the most and will make up the majority
of your UI. Use them for most of your text, backgrounds, and borders,
as well as for things like secondary buttons and links.*/
/*Neutral Blue*/
@font-face {
  font-family: 'baskervaldadfstd-heavy';
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  src: url("baskervaldadfstd-heavy.otf") format("opentype");
}
* {
  font-family: "Montserrat", sans-serif !important;
}

.logo {
  line-height: 1.15 !important;
  padding: 15px 0;
}

/*LOGO SECTION*************************************************************************************************/
.navbar-brand {
  font-size: 36px;
  color: #5a6c7a;
  letter-spacing: 1.3px;
  word-spacing: 5px;
  position: relative;
  display: block;
  font-family: "baskervaldadfstd-heavy" !important;
  padding-top: 15px;
  font-weight: 900;
  text-shadow: 0 1px, 1px 0px, 1px 1px;
  margin: 0;
  padding: 0;
}

.navbar {
  margin: 0;
  padding: 0;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.5);
  padding: 5px 15px;
  color: black;
  font-size: 14px;
}

.my-1 {
  width: 50%;
}

.navbar-brand ~ p {
  font-size: 14px;
  margin: 0;
  padding: 0;
  color: #888888;
}

/*HERO SECTION*****************************************************************************************/
.jumbotron {
  padding: 0 2rem;
  position: relative;
  background: linear-gradient(to right, #334e68, rgba(51, 78, 104, 0.9), rgba(51, 78, 104, 0.9), rgba(51, 78, 104, 0.1), transparent), url("assets/img/hero_ccc.jpg") no-repeat center;
  background-size: cover;
  background-blend-mode: multiply;
  margin: 0;
}

.hero-text {
  padding: 80px 0;
  background-size: 100%;
}

h1 {
  font-weight: bold;
  font-size: 36px;
  letter-spacing: -0.32px;
  line-height: 1;
  margin: 0;
  padding-bottom: 15px;
}

.lead {
  color: #bff8fd;
  font-size: 18px;
  line-height: 1.3;
  margin: 0 0 50px;
}

.highlight {
  color: white;
  font-weight: 500;
}

.hero-text .background {
  color: white;
}

.call-to-action {
  /*  background: #6783ab;*/
  width: 300px;
  margin-top: 10px !important;
  border: solid 2px white;
  padding: 10px 20px 10px 30px;
}

.booking-label {
  font-size: 14px;
}

.call-to-action p {
  font-weight: bold;
  font-size: 16px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.fa-phone {
  color: #dae2ec;
}

.fa-envelope {
  color: #dae2ec;
}

.call-to-action p span {
  color: #d2d9e3;
}

/*MAIN SECTION****************************************************************************************/
.main-content {
  background: #334e68;
}

.main-raised {
  background: white;
  color: black;
  /*  margin: -60px 30px 0;
  border-radius: 6px;
  box-shadow: 0 16px 24px 2px rgba(0,0,0,.14),
   0 6px 30px 5px rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
  z-index: 1;
  position: relative;*/
}

.main-title {
  color: #5b6c7b;
  font-weight: bold;
  margin: 30px 0;
  font-size: 36px;
}

.main-paragraphs {
  line-height: 1.5;
  font-size: 16px;
}

.devices {
  margin: auto;
  color: #c2ced1;
  font-size: 50px;
}

.fa-mobile-alt {
  font-size: 30px;
  margin: 10px;
}

.fa-tablet-alt {
  font-size: 48px;
  margin: 10px;
}

.fa-laptop {
  font-size: 60px;
  margin: 10px;
}

.fa-desktop {
  font-size: 72px;
  margin: 10px;
}

.schedule {
  background: #044e53;
  border-radius: 5px;
  margin: 30px 0;
  font-size: 14px;
}

.schedule .first-column li {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.schedule .second-column li span {
  color: #bff8fd;
}

ul {
  margin: auto;
  padding: 10px;
}

li {
  display: block !important;
  color: white;
  border-right: solid white 1px;
}

/*OTHER SERVICES***********************************************************************************************/
.moose {
  background-image: url("assets/img/outreach_sessions_bw.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 350px;
  height: 300px;
  padding: 110px 20px;
  color: white;
}

.sessions {
  color: white;
  background-image: url("assets/img/moose_in_da_house_project_bw.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 350px;
  height: 300px;
  padding: 110px 20px;
}

/*# sourceMappingURL=styles.css.map */
