/*These are the splashes of color that should appear the most in your UI,
and are the ones that determine the overall "look" of the site. Use these
for things like primary actions, links, navigation items, icons, accent
borders, or text you want to emphasize.*/
/*Cyan*/
$cyan10: hsl(184, 91%, 17%);
$cyan9: hsl(185, 84%, 25%);
$cyan8: hsl(185, 81%, 29%);
$cyan7: hsl(184, 77%, 34%);
$cyan6: hsl(185, 62%, 45%);
$cyan5: hsl(185, 57%, 50%);
$cyan4: hsl(184, 65%, 59%);
$cyan3: hsl(184, 80%, 74%);
$cyan2: hsl(185, 94%, 87%);
$cyan1: hsl(186, 100%, 94%); /*These are the colors you will use the most and will make up the majority
of your UI. Use them for most of your text, backgrounds, and borders,
as well as for things like secondary buttons and links.*/
/*Neutral Blue*/
$blue10: hsl(209, 61%, 16%);
$blue9: hsl(211, 39%, 23%);
$blue8: hsl(209, 34%, 30%);
$blue7: hsl(209, 28%, 39%);
$blue6: hsl(210, 22%, 49%);
$blue5: hsl(209, 23%, 60%);
$blue4: hsl(211, 27%, 70%);
$blue3: hsl(210, 31%, 80%);
$blue2: hsl(212, 33%, 89%);
$blue1: hsl(210, 36%, 96%);
@font-face {
  font-family: 'baskervaldadfstd-heavy';
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  src: url("baskervaldadfstd-heavy.otf") format("opentype"),;
}

* {
  font-family: 'Montserrat', sans-serif!important;
}

.logo {
  line-height: 1.15!important;
  padding: 15px 0;
}
/*LOGO SECTION*************************************************************************************************/
.navbar-brand {
  font-size: 36px;
  color: #5a6c7a;
  letter-spacing: 1.3px;
  word-spacing: 5px;
  position: relative;
  display: block;
  font-family: "baskervaldadfstd-heavy"!important;
  padding-top: 15px;
  font-weight: 900;
  text-shadow: 0 1px, 1px 0px, 1px 1px;
  margin: 0;
  padding: 0;
}

.navbar {
  margin: 0;
  padding: 0;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0,0,0,.5);
  padding: 5px 15px;
  color: black;
  font-size: 14px;
}

.my-1 {
  width: 50%;
}

.navbar-brand~p {
  font-size: 14px;
  margin: 0;
  padding: 0;
  color: #888888;
}
/*HERO SECTION*****************************************************************************************/
.jumbotron {
  padding: 20px 2rem;
  position: relative;
  background: linear-gradient(to right, rgba(51,78,104, 1), rgba(51,78,104, 0.9), rgba(51,78,104, 0.9), rgba(51,78,104, 0.1), transparent), url("assets/img/hero_ccc.jpg") no-repeat center;
  background-size: cover;
  background-blend-mode: multiply;
  margin: 0;
}

.hero-text {
  padding: 80px 0;
  background-size: 100%;
}

h1 {
  font-weight: bold;
  font-size: 36px;
  letter-spacing: -0.32px;
  line-height: 1;
  margin: 0;
  padding-bottom: 15px;
}

.lead {
  color: $cyan2;
  font-size: 18px;
  line-height: 1.3;
  margin: 0 0 50px;
}

.highlight {
  color: white;
  font-weight: 500;
}

.hero-text .background {
  color: white;
}

.call-to-action {
  /*  background: #6783ab;*/
  width: 300px;
  margin-top: 10px!important;
  border: solid 2px white;
  padding: 10px 20px 10px 30px;
}

.booking-label {
  font-size: 14px;
}

.call-to-action p {
  font-weight: bold;
  font-size: 16px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.fa-phone {
  color: $blue2;
}

.fa-envelope {
  color: $blue2;
}

.call-to-action p span {
  color: #d2d9e3;
}
/*MAIN SECTION****************************************************************************************/
.main-raised {
  background: #e5eded;
  color: black;
  padding-bottom: 40px!important;
  /*  margin: -60px 30px 0;
  border-radius: 6px;
  box-shadow: 0 16px 24px 2px rgba(0,0,0,.14),
   0 6px 30px 5px rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
  z-index: 1;
  position: relative;*/
  background: linear-gradient(to right, #334e68, rgba(51, 78, 104, 0.9), rgb(220, 227, 228), #e5eded);
}

.main-raised .container {
  background: white;

}

.main-title {
  color: hsla(209, 15%, 42%, 1);
  font-weight: bold;
  font-size: 36px;
  padding-top: 50px;
  padding-bottom: 20px;
}

.title {
  margin: -30px 0 0;
  background: white;
}

.main-paragraphs {
  line-height: 1.5;
  font-size: 16px;
}

.icons {
  height: 80px!important;
  width: 100px!important;
}

.icons1 {
  height: 80px!important;
  width: 100px!important;
}

.devices {
  margin: auto;
  color: #c2ced1;
  font-size: 50px;
}

.fa-mobile-alt {}

.fa-tablet-alt {}

.fa-laptop {}

.fa-desktop {}

.schedule {
  background: #42586f;
  border-radius: 5px;
  margin: 30px 0;
  font-size: 14px;
}

.schedule .first-column li {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.schedule .second-column li span {
  color: hsl(185, 94%, 87%);
}

ul {
  margin: auto;
  padding: 10px;
}

li {
  display: block!important;
  color: white;
  border-right: solid white 1px;
}
/*OTHER SERVICES***********************************************************************************************/
section{

}
.moose {
  background-image: url("assets/img/outreach_sessions_bw.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 350px;
  height: 300px;
  padding: 110px 20px;
  color: white;
}

.sessions {
  color: white;
  background-image: url("assets/img/moose_in_da_house_project_bw.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 350px;
  height: 300px;
  padding: 110px 20px;
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0.25rem;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  border: 0;
  font-weight: 400;
}

.testimonial-card .card-up {
  overflow: hidden;
  height: 120px;
  -webkit-border-top-left-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
  -webkit-border-top-right-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.testimonial-card .avatar {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 120px;
  margin-top: -60px;
  overflow: hidden;
  border: 5px solid #fff;
}

.testimonial-card .card-body {
  text-align: center;
}

.card-body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  -webkit-border-radius: 0!important;
  border-radius: 0!important;
}

.testimonial-card .card-up {
  overflow: hidden;
  height: 120px;
  -webkit-border-top-left-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
  -webkit-border-top-right-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.info-color {
  background-color: #334e68!important;
}

.blue-gradient {
  background: -webkit-linear-gradient(50deg,#334e68,#044e53)!important;
  background: -o-linear-gradient(50deg,#334e68,#044e53)!important;
  background: linear-gradient(40deg,#334e68,#044e53)!important;
}

.indigo {
  background-color: #044e53!important;
}
/*Footer**********************************************************************************/
.footer-top {
  padding: 60px 0;
  background: #333;
  text-align: left;
  color: #aaa;
}

.footer-top h3 {
  padding-bottom: 10px;
  color: #fff;
}

.footer-about img.logo-footer {
  max-width: 74px;
  margin-top: 0;
  margin-bottom: 18px;
}

.footer-about p a {
  border: 0;
}

.footer-about p a:focus,
.footer-about p a:hover {
  border: 0;
}

.footer-contact p {
  word-wrap: break-word;
}

.footer-contact i {
  padding-right: 10px;
  font-size: 18px;
  color: #666;
}

.footer-contact p a {
  border: 0;
}

.footer-contact p a:focus,
.footer-contact p a:hover {
  border: 0;
}

.footer-links a {
  color: #aaa;
  border: 0;
}

.footer-links a:focus,
.footer-links a:hover {
  color: #fff;
}

.footer-bottom {
  padding: 15px 0 17px;
  background: #444;
  text-align: left;
  color: #aaa;
}

.footer-social {
  padding-top: 3px;
  text-align: right;
}

.footer-social a {
  margin-left: 20px;
  color: #777;
  border: 0;
}

.footer-social a:focus,
.footer-social a:hover {
  color: #79a05f;
  border: 0;
}

.footer-social i {
  font-size: 24px;
  vertical-align: middle;
}

.footer-copyright {
  padding-top: 5px;
}

.footer-copyright a {
  color: #fff;
  border: 0;
}

.footer-copyright a:focus,
.footer-copyright a:hover {
  color: #aaa;
  border: 0;
}
